/node_modules
/.pnp
.pnp.js
/coverage
/build
.env
.idea
*.iml
/data
/data_processed
/public/data/*.json
/public/android-chrome-*.png
/public/apple-touch-icon.png
/public/favicon.ico
/public/manifest.webmanifest
